<div class="container content-container">
  <div id="navbar"></div>
  <div id="main"></div>
  <div id="footer">
    <hr />
  </div>
  <script>
    $(document).ready(function () {
      BowserBook.initialize();
    });
  </script>
  

</div>