<div id="navbar"></div>
<div class="container content-container">
  <div id="navbar-buffer"></div>
  <div id="main"></div>
  <div id="footer">
    <hr />
  </div>
</div>
<script>
  $(document).ready(function () {
    BowserBook.initialize();
  });
</script>

