<div class="row splash-container">
  <div class="mario-splash splash-image-container col-xs-4">
    <img src="http://res.cloudinary.com/dbeva6z07/image/upload/c_scale,h_370,w_300/v1434672378/bowserbook_images/mario_frontpage.png">
  </div>
  <div class="col-xs-4 central-form">
    <h1>Welcome to <br>BowserBook</h1>
    <form action="<%= session_url %>" method="POST" id="sign-in-form">
      <%= auth_token %>
      <div class="form-group"> 
        <label for="user-username">Username:</label><br>
        <input type="text" 
               name="user[username]" 
               id="user-username"
               class="form-control">
        <br>
        <label for="user-username">Password:</label><br>
        <input type="password"
               name="user[password]"
               id="user-password"
               class="form-control">
        <br>
        <div class="submit-button-container">  
          <input type="submit"
                 id="form-submit" 
                 value="Sign In" 
                 class="btn btn-primary form-control">

          <button id="m-demo-btn" 
                  class="btn btn-danger demo-button">Choose Mario</button>

          <button id="b-demo-btn" 
                  class="btn btn-success demo-button">Choose Bowser</button>
        </div>
      </div>
    </form>
    <p>
      New to BowserBook? <%= link_to "Sign up here", signup_url %>, or log in with a 
      <a id="demo-show-button" href="javascript:void(0)">Demo Account</a>.
    </p>
  </div>
  <div class="bowser-splash splash-image-container col-xs-4">
    <img src="http://res.cloudinary.com/dbeva6z07/image/upload/c_scale,h_370,w_300/v1434672385/bowserbook_images/bowser_frontpage.png">
  </div>
</div>
<div class="row underline-container">
  <div class="mario-underline col-xs-4"></div>
  <div class="col-xs-4"></div>
  <div class="bowser-underline col-xs-4"></div>
</div>
<script>
  $('#demo-show-button').on('click', function () {
    $('#form-submit').hide();
    $('.demo-button').show();
  });
  $('#m-demo-btn').on('click', function () {
    $('#user-username').val('Mario');
    $('#user-password').val('mari0passw0rd');
    $('#sign-in-form').submit();
  });
  $('#b-demo-btn').on('click', function () {
    $('#user-username').val('Bowser');
    $('#user-password').val('bows3rpassw0rd');
    $('#sign-in-form').submit();
  });
  $('.submit-button-container').on('mouseenter', '#m-demo-btn', function (e) {
    $('.mario-underline').show();
  }).on('mouseleave', '#m-demo-btn', function (e) {
    $('.mario-underline').hide();
  });
  $('.submit-button-container').on('mouseenter', '#b-demo-btn', function (e) {
    $('.bowser-underline').show();
  }).on('mouseleave', '#b-demo-btn', function (e) {
    $('.bowser-underline').hide();
  });
</script>