<div class="static-page-container">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Welcome to <br>BowserBook</h1>
    <form action="<%= session_url %>" method="POST" id="sign-in-form">
      <%= auth_token %>
      <div class="form-group"> 
        <label for="user-username">Username:</label><br>
        <input type="text" 
               name="user[username]" 
               id="user-username"
               class="form-control">
        <br>
        <label for="user-username">Password:</label><br>
        <input type="password"
               name="user[password]"
               id="user-password"
               class="form-control">
        <br>
        <input type="submit" value="Sign In" class="btn btn-primary">
      </div>
    </form>
    <p>New to BowserBook? <%= link_to "Sign up here", new_user_url %>, or log in with a <a id="demo-button" href="javascript:void(0)">Demo Account</a>.</p>
  </div>
</div>
<script>
  $('#demo-button').on('click', function () {
    $('#user-username').val('Mario');
    $('#user-password').val('password');
    $('#sign-in-form').submit();
  });
</script>