<% if (unreadMessages > 0) { %> 
  <h3>My Messages (<%= unreadMessages %> unread)</h3>
<% } else { %>
  <h3>My Messages</h3>
<% } %>
<ul class="messages-list"></ul>
<div class="message-show-container"></div>