<h3>Send a Message</h3>
<button class="btn btn-primary message-index-btn-new">Back to Inbox</button>
<form class="create-message-form">
  <div class="form-group">
    <label for="message-recipient-id">To:</label>
    <select name="message[recipient_id]" 
            id="message-recipient-id"
            class="form-control">
      <% users.forEach(function (user) { %>
        <% var selectedStr = (user.id === selectedId) ? "selected" : "" %>
        <option value="<%= user.id %>" <%= selectedStr %>>
          <%= user.escape('username') %>
        </option>
      <% }) %>
    </select>
    <br>
    <textarea name="message[body]" 
              rows="5"
              placeholder="Write your message"
              id="message-body"
              class="form-control"></textarea>
    <br>
    <input type="submit" 
           value="Send Message" 
           class="btn btn-success pull-right">
  </div>
</form>
