<div class="row upper-profile-content col-xs-12">
  <div class="landing-container"></div>
  <div class="profile-navbar-container"></div>
</div>
</div>
<div class="row lower-profile-content">
  <aside class="sidebar-container col-xs-4"></aside>
  <div class="wall-container col-xs-8"></div>
</div>