<div class="dashboard-sidebar-header">  
  <img class="dashboard-profile-image" src="<%= user.escape('image_url') %>">
  <a class="dashboard-update-profile" href="/#/profiles/<%= user.id %>/edit">
  Edit Profile
  </a>
</div>
<div class="dashboard-sidebar-friend-requests-container"></div>
<div class="dashboard-sidebar-pokes-container"></div>