<% if (!post.isNew()) { %>
  <% var labelValue = "Edit this post:", submitValue = "Update"; %>
<% } else if (post.escape('about_id') == window.CURRENT_USER_ID) { %>
  <% var labelValue = "Update Status", submitValue = "Post Status"; %>
<% } else { %>
  <% var labelValue = "Post to Wall", submitValue = "Create Post"; %>
<% } %>

<form>
  <div class="form-group">
    <label for="post-body"><%= labelValue %></label>
    <% if (!post.isNew()) { %>
      <button class="close">&times;</button>
    <% } %>
    <input type="hidden" 
           name="post[about_id]" 
           value="<%= post.escape('about_id') %>">

    <textarea name="post[body]" 
              placeholder="What do you want to say?"
              id="post-body"
              class="form-control"><%= post.escape('body') %></textarea>

    <input type="submit" 
           value="<%= submitValue %>" 
           class="btn btn-success">
  </div>
</form>