<div class="col-xs-6 col-xs-offset-3">
  <h1>Welcome to <br>BowserBook</h1>
  <form action="<%= users_url %>" method="POST">
    <%= auth_token %>
    <div class="form-group"> 
      <label for="user-username">Username:</label><br>
      <input type="text" 
             name="user[username]" 
             value="<%= @user.username %>"
             id="user-username"
             class="form-control">
      <br>
      <label for="user-username">Password:</label><br>
      <input type="password"
             name="user[password]"
             id="user-password"
             class="form-control">
      <br>
      <input type="submit" value="Sign Up" class="btn btn-primary">
    </div>
  </form>
  <p>
    Already have an account? <%= link_to "Sign in here.", new_session_url %>
  </p>
</div>