<div class="bb-navbar-container">
  <nav class="bb-navbar">
    <div class="container-fluid">
      <div class="bb-navbar-left">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">BowserBook</a>
        </div>
        <!-- Users Search TKTKTKTK -->
        <div class="bb-navbar-form">
          <div class="users-search">
            <input type="text" 
                   class="form-control" 
                   placeholder="Search BowserBook"
                   name="username"
                   id="users-search">
          </div>
          <ul class="search-results-container"></ul>
        </div>
      </div>
      <!-- Main Links -->
      <div class="bb-navbar-right">
        <ul class="bowserbook-nav">
          <li class="nav-item">
            <a href="#/profiles/<%= window.CURRENT_USER_ID %>">
              <%= window.CURRENT_USER_NAME %>
            </a>
          </li>
          <li class="nav-item"><a href="#/home">Home</a></li>
          <li class="nav-item"><a href="#/messages">Messages</a></li>
          <li class="notifications-button nav-item">
            <a href="javascript:void(0)">
              Notifications <span class="badge notifications-badge">0</span>
            </a>
            <ul class="notifications-list notifications-flash-list">
              <li class="notifications-base">Notifications</li>
            </ul>
            <ul class="notifications-list notifications-in-list">
              <li class="notifications-base">Notifications</li>
            </ul>
          </li>
        <!-- Sign Out -->
          <li class="nav-item sign-out-item">
            <form action="session" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" 
                     name="authenticity_token" 
                     id="sign_out_auth_token"
                     value="">
              <input type="submit" 
                     class="sign-out"
                     value="Sign Out">
            </form>
          </li>
        </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
</div>