<% if (window.CURRENT_USER_ID == userId) { %>
  <h4>Friend Requests</h4>
  <% if (numFriendRequests === 0) { %>
    <h5>No current friend requests!</h5>
  <% } %>
  <ul class="friend-requests-list clearfix"></ul>
<% } %>