<h2><%= user.escape('username') %>'s Profile Info</h2>
<% ['Location', 'Rival', 'Interests', 'Birthday'].forEach(function (attr) { %>
  <p class="user-attribute">
    <b><%= attr %>:</b> <%= user.escape(attr.toLowerCase()) %>
  </p>
<% }) %>

<h3>Recent Activity:</h3>
Recent Activity Goes Here