<h2><%= user.escape('username') %>'s Profile Info</h2>
<% ['Location', 'Rival', 'Interests', 'Birthday'].forEach(function (attr) { %>
  <p class="user-attribute">
    <b><%= attr %>:</b> <%= user.escape(attr.toLowerCase()) %>
  </p>
<% }) %>

<% if (parseInt(window.CURRENT_USER_ID) === this.model.id) { %>
  <h3>My Recent Activity</h3>
  <ul class="recent-activity-list"></ul>
<% } %>
