<ul>
  <li class="active-li wall-swap">
    <a href="javascript:void(0)">Wall</a>
  </li>
  <li class="info-swap">
    <a href="javascript:void(0)">Profile Info</a>
  </li>
  <li class="friends-swap">
    <a href="javascript:void(0)">Friends</a>
  </li>
</ul>