/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.splash-image-container {
  position: relative;
  height: 400px;
  width: 300px;
  padding: 10px;
  img {
    height: 370px;
    width: 300px;
  }
}

.active-mario-image {
  border-bottom: 5px solid red;
}

.active-bowser-image {
  border-bottom: 5px solid green;
}

.demo-button {
  display: none;
  width: 124px;
}

.mario-splash img {
  padding: 10px;
}

.central-form {
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 30px;
  h1 {
    text-align: center;
  }
}

.splash-container {
  width: 1000px;
  margin: 20px auto 0 auto;
}

.static-page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
}

#main {
  width: 800px;
  margin: 0 auto;
}

.content-container {
  width: 1000px;
}

.sidebar {
  border-right: 1px solid #E7E7E7;
}

.landing {
  position: relative;
  width: 800px;
  height: 300px;
}

.lower-profile-content {
  padding-left: 20px;
  padding-right: 20px;
}

.clearfix {
  :after {
    content: "";
    clear: both;
    dispaly: block;
  }
}