/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.splash-image-container {
  position: relative;
  height: 400px;
  width: 300px;
  padding: 10px;
  img {
    height: 370px;
    width: 300px;
  }
}

.mario-underline {
  display: none;
  float: left;
  height: 9px;
  width: 300px;
  background: #d43f3a; /* Old browsers */
  background: -moz-linear-gradient(top,  #d43f3a 0%, #d9534f 20%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d43f3a), color-stop(33%,#d9534f)2 color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d43f3a 0%,#d9534f 20%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d43f3a 0%,#d9534f 20%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d43f3a 0%,#d9534f 20%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d43f3a 0%,#d9534f 20%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d43f3a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.bowser-underline {
  display: none;
  float: right;
  height: 9px;
  margin-right: 70px;
  width: 300px;
  background: #4cae4c; /* Old browsers */
  background: -moz-linear-gradient(top,  #4cae4c 0%, #5cb85c 20%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cae4c), color-stop(33%,#5cb85c)2 color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4cae4c 0%,#5cb85c 20%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4cae4c 0%,#5cb85c 20%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4cae4c 0%,#5cb85c 20%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4cae4c 0%,#5cb85c 20%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cae4c', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.underline-container {
  width: 1000px;
  margin: 0 auto;
}

.demo-button {
  display: none;
  width: 124px;
}

.mario-splash img {
  padding: 10px;
}

.central-form {
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 30px;
  h1 {
    text-align: center;
  }
}

.splash-container {
  width: 1000px;
  margin: 20px auto 0 auto;
}

.static-page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
}

#main {
  width: 800px;
  margin: 0 auto;
}

.content-container {
  width: 1000px;
}

.sidebar {
  border-right: 1px solid #E7E7E7;
}

.landing {
  position: relative;
  width: 800px;
  height: 300px;
}

.lower-profile-content {
  padding-left: 20px;
  padding-right: 20px;
}

.clearfix {
  :after {
    content: "";
    clear: both;
    dispaly: block;
  }
}