/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* NAVBAR */

#navbar {
  width: 1000px;
}

.navbar-form {
  position: relative;
  display: inline-block;
}

.search-results-container {
  position: absolute;
  list-style: none;
  padding-left: 0;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.search-result {
  position: relative;
  width: 170px;
  height: 40px;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #CCC;
  &:hover {
    cursor: pointer;
    background-color: #EFEFEF;
  }
}
.search-result-link {
  display: block;
  line-height: 40px;
  padding-left: 10px;
  &:hover {  
    text-decoration: none;
  }
}

.navbar {
  margin: 0 auto;
  padding-right: 20px;
}

#users-search {
  width: 375px;
}

#main {
  width: 800px;
  margin: 0 auto;
}

.content-container {
  width: 1000px;
}

.sidebar {
  border-right: 1px solid #E7E7E7;
}

.landing {
  position: relative;
  width: 800px;
  height: 300px;
}

.lower-profile-content {
  padding-left: 20px;
  padding-right: 20px;
}