.dashboard-profile-image {
  display: block;
  margin: 0 auto 10px;
  height: 150px;
  width: 150px;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  padding: 5px;
}

.dashboard-sidebar-container {
  margin-top: 20px;
  border-right: 1px solid #E7E7E7;
  a, h4, h5 {
    text-align: center;
  }
}

.dashboard-sidebar-header {
  text-align: center;
}

.dashboard-content-container h3 {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.dashboard-container {
  padding-left: 20px;
  padding-right: 20px;
}

/* MESSAGES */

.messages-list {
  margin-top: 10px;
  list-style: none;
  padding-left: 10px;
  li {
    padding: 5px 5px 5px 15px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px #CCC;
    margin-bottom: 5px;
    border-radius: 2px;
    width: 500px;
    height: 40px;
    span {
      padding-left: 10px;
    }
  }
}

.messages-index {
  h3 {
    text-align: center;
  }
  h5 {
    color: #CCC;
    text-align: center;
  }
}

.messages-index-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  width: 100%;
}

.message-new { position: relative; }

.message-new-btn {
  position: absolute;
  right: -15px;
  top: -3px;
}

.message-index-btn-new {
  position: absolute;
  right: -15px;
  top: -3px;
}

span.message-username {
  font-size: 14px;
  width: 75px;
  display: inline-block;
}

span.message-preview-read {
  color: #AAA;
}

span.message-preview-unread {
  font-weight: bold;
}

.message-show {
  display: block;
}

span.message-time-sent {
  line-height: 30px;
  font-size: 12px;
  float: right;
  padding-right: 5px;
}

.message-img {
  height: 30px;
  width: 30px;
}

.message-index-item {
  &:hover {
    cursor: pointer;
  }
}

.message-show-img {
  height: 80px;
  width: 80px;
  display: inline-block;
}

.message-show-header {
  height: 100px;
  padding: 20px 0;
  font-size: 36px;
  span { 
    padding: 0 20px 0 20px;
  }
}

.message-show-body {
  margin-top: 10px;
  min-height: 200px;
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.message-show-buttons {
  margin-top: 10px;
}

.message-show-buttons button {
  margin-left: 10px;
  float: right;
}
