.feed-profile-image {
  display: block;
  margin: 0 auto 10px;
  height: 150px;
  width: 150px;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  padding: 5px;
}

.feed-sidebar-container {
  margin-top: 20px;
  border-right: 1px solid #E7E7E7;
  a, h4, h5 {
    text-align: center;
  }
}

.feed-content-container h3 {
  text-align: center;
}