.post-index-item {
  min-height: 180px;
  width: 500px;
  margin-bottom: 10px;
  border: 1px #CCC solid;
  border-radius: 6px;
  padding: 8px 15px 10px 10px;

  .post-glyph {
    text-align: right;
  }
}

.post-header {
  padding-top: 5px; 

  a {
    font-size: 16px;
  }
}

.post-header-img {
  height: 60px;
  width: 60px;
  margin: 0 10px;
  border: 1px solid #E7E7E7;
  border-radius: 2px;
  overflow: hidden;
}