.profile-image {
  width: 150px;
  height: 150px;
  position: absolute;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  bottom: -25px;
  left: 60px;
  z-index: 1;
}

.profile-navbar {
  width: 800px;
  height: 50px;
  border-bottom: 1px solid #E7E7E7;
  border-top: 1px solid #E7E7E7;
  padding-left: 205px;
  > ul {
    list-style: none;
  }
}

.profile-navbar > ul > li {
  float: left;
  height: 48px;
  width: 110px;
  text-align: center;
  border-left: 1px solid #E7E7E7;
  a {
    font-size: 16px;
    display: block;
    line-height: 50px;
    text-decoration: none;
  }
  &:hover {
    background-color: #E7E7E7;
  }
}

.friends-swap { border-right: 1px solid #E7E7E7; }

.active-li { background-color: #E7E7E7; }

.username-header {
  font-size: 48px;
  position: absolute;
  margin-bottom: 0;
  bottom: 10px;
  left: 220px;
  color: white;
  text-shadow: 2px 2px #CCC;
}

.profile-friend-index-item-img {
  height: 60px;
  width: 60px;
}

.profile-friend-table td.username {
  font-size: 16px;
  vertical-align: middle;
}

.sidebar-friend-index-item-img {
  width: 80px;
  height: 80px;
}

.sidebar h4 {
  text-align: center;
}

.sidebar-friends-list {
  list-style: none;
  padding-left: 0;
  li {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 5px;
    a {
      display: block;
      text-decoration: none;
    }
  }
}

.friend-requests-index {
  margin-top: 10px;
  h5 {
    color: #CCC;
    text-align: center;
  }
}

.friend-requests-list {
  padding-left: 0;
  list-style: none;
  li {
    padding-left: 5px;
    width: 95%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #E7E7E7;
    box-shadow: 2px 2px 2px #CCC;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.friend-request-btn {
  height: 100%;
  float: right;
  font-size: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid #E7E7E7;
  border-radius: 2px;
  vertical-align: text-middle;
}

.landing-friend-status {
  padding: 7px 25px;
  font-size: 14px;
  border: 1px solid #AAA;
  box-shadow: 1px 1px #AAA;
  border-radius: 5px;
  background-color: #E7E7E7;
  position: absolute;
  bottom: 10px;
  right: 70px;
}

.send-friend-request {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.landing-friend-status-respond {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 50px;
  list-style: none;
}

.update-profile {
  display: block;
  &:hover {
    text-decoration: none;
  }
}