<img class="feed-profile-image" src="<%= user.escape('image_url') %>">
<a class="update-profile" href="/#/profiles/<%= user.id %>/edit">
  Edit Profile
</a>
<div class="feed-sidebar-friend-requests-container"></div>
<div class="feed-sidebar-pokes-container"></div>